h1 {
    text-align: center;
    margin-top: 5vw;
    font-size: 5vw;
}
.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-left: 20vw;
    margin-right: 10vw;
    
}
.trou {
    
    border-style: solid;
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    margin: 2vw;
    
}